body {
background-color: #fffbf7;
}

h1{
    color: #046484;
}
h4{
    color: #46484c;
}

.texto-promocional {
    color: #8b8b8bcc;
}

.texto-botton



.texto-promocional {
    color: #8b8b8bcc;
}


    
